doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href="/") Cities
      ||
      a(href="/weather") Weather
    block content
